PAUSE="---"
FREET=" . "
OPTIM="Optimization methods"
SEMIN="Semantic intelligence"
SOFTA="Software analytics"
AUTOM="Automated software"

TIMETABLE=$(cat << _EOF_
|Monday|Tuesday|Wednesday|Thursday|Friday|
| - - - | - - - | - - - | - - - | - - - |
09-10:|${FREET}|${FREET}|${SEMIN}|${FREET}|${FREET}|
10-11:|${AUTOM}|${FREET}|${SEMIN}|${SOFTA}|${FREET}|
11-12:|${AUTOM}|${FREET}|${SOFTA}|${SOFTA}|${FREET}|
12-13:|${AUTOM}|${FREET}|${SOFTA}|${SOFTA}|${FREET}|
13-14:|${PAUSE}|${PAUSE}|${PAUSE}|${PAUSE}|${PAUSE}|
14-15:|${OPTIM}|${SEMIN}|${FREET}|${FREET}|${OPTIM}|
15-16:|${OPTIM}|${SEMIN}|${FREET}|${FREET}|${OPTIM}|
16-17:|${OPTIM}|${FREET}|${FREET}|${FREET}|${OPTIM}|
17-18:|${FREET}|${FREET}|${FREET}|${FREET}|${FREET}|
_EOF_
)
